# App
config/database.php
config/settings.yml
plugins/debug_kit/
plugins/migrations/
vendors/simpletest/
views/themed/
webroot/uploads/

# Cake cache
tmp/

# Cake
cake

# Eclipse IDE
.buildpath
.project
.settings/

# Mac OSX
.DS_Store

# external plugins
plugins/sitemap/